$colorGray: #d2d2d2;
$colorGreen: #95b894;
$colorYellow: #efe6cd;
$colorBlue: #8ca6cd;
$colorRed: #d27b7b;

$textColor: #252525;

$rectBorderBaseParameters: 3px solid;

$pointerStartTop: -2px;
$pointerStartLeft: 206px;

$rectMargin: 2px;
$rectWrapperPadding: 2px;
$rectPositionOffset: -100px;
