$colorGray: #e6e6e6;
$colorGreen: #d5e8d4;
$colorYellow: #fff2cc;
$colorBlue: #dae8fc;
$colorRed: #eea2a2;

$rectBorderBaseParameters: 3px solid;

$pointerStartTop: -2px;
$pointerStartLeft: 206px;

$rectMargin: 3px;
$rectPositionOffset: -100px;
